@use "../abstracts/variables" as a;

.popular-foods {
	padding: 64px;
	display: flex;
	flex-direction: column;
	background: a.$primary-color;
	background-image: url(../../img/popular_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;

	&__title {
		font-size: 56px;
		font-family: a.$playfair-display;
		font-weight: 600;
		line-height: 78px;
		color: #fff;
		text-align: center;
	}

    &__filters{
        margin-top: 48px;
        max-width: 100%;
        overflow-x: auto;
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    &__filter-btn{
       padding: 10px 28px; 
    }
}
