@use '../abstracts/variables' as a;

.subscription {
    padding: 64px;
    background-color: a.$primary-color;
    background-image: url('../img/subscribe_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    flex-direction: column;
    overflow: hidden;

    h2 {
        font-size: 88px;
        font-family: a.$playfair-display;
        font-weight: 600;
        line-height: 123px;
        color: #fff;
        text-align: center;
    }

    p {
        font-size: 18px;
        font-family: a.$plus-jakarta-sans;
        font-weight: 300;
        line-height: 36px;
        margin-top: 32px;
        color: rgba(255,255,255,.8);
       
    }

    &__form {
        min-width: 480px;
        margin-top: 40px;

        padding: 14px 14px 14px 24px;
        display: flex;
        gap: 10px;
        border: 1px solid rgba(255,255,255, .5);
        border-radius: 46px;

        input {
            flex:1;
            font-size: 16px;
            font-weight: 400;
            font-family: a.$plus-jakarta-sans;

            color: #fff;
            opacity: 0.5;
            background: transparent;
            border: none;
            outline: transparent;
        }

        input::placeholder{
            color: #fff;
            opacity: 0.5;
        }

        button {
            padding: 20px;
            min-width: 180px;
            font-size: 16px;
            font-weight: 500;
            font-family: a.$plus-jakarta-sans;
            color: #fff;
            text-align: center;
            background: a.$black-400;
            border-radius: 46px;
            border: none;
            outline: transparent;
            cursor: pointer;
        }
    }
}