@use '../abstracts/variables' as a;

.trending {
	position: relative;

	display: flex;
	flex-direction: column;
	overflow: hidden;

	// &__discover {
	// }

	&-sushi,
	&-drink {
		width: 10%;
		min-height: 640px;
		display: flex;
		flex-direction: row;
	}

	&__content {
		flex: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;

		padding: 32px 64px;
	}

	&__list {
		list-style: none;
		flex-wrap: wrap;
		gap: 20px;

		li {
			flex: 1;
			display: flex;
			align-items: center;
			flex-direction: row;
			gap: 12px;
			min-width: 210px;
		}
	}

    &__icon {
        width: 24px;
        height: 24px;

        background-color: a.$primary-color;
        border-radius: 100px;

		img {
			width: 50%;
			height: 50%;
			object-fit: contain;
		}
    }

	&__list{
		p{
			flex:1;
			font-size: 16px;
			font-weight: 500;
			font-family: a.$plus-jakarta-sans;
			color: a.$secondary-color;
		}
	}

	&__image {
		flex:1;

		position: relative;
		padding: 32px 64px;

		background-color: a.$color-white;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		img {
			width: 254px;
			height: 260px;
			object-fit: contain;
		}
	}

}

.trending-sushi .trending__image {
	background-image: url(../img/japanese_sushi.png);
}
.trending-drink .trending__image {
	background-image: url(../img/japanese_drinks.png);
}