@use "../abstracts/variables" as a;

.trending {
	position: relative;

	display: flex;
	flex-direction: column;
	overflow: hidden;

	// &__discover {
	// }

	&-sushi,
	&-drink {
		width: 100%;
		min-height: 640px;
		display: flex;
		flex-direction: row;
	}

	&__content {
		flex: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;

		padding: 32px 64px;
	}

	&__list {
		list-style: none;
		flex-wrap: wrap;
		gap: 20px;

		li {
			flex: 1;
			display: flex;
			align-items: center;
			flex-direction: row;
			gap: 12px;
			min-width: 210px;
		}
	}

	&__icon {
		width: 24px;
		height: 24px;

		background-color: a.$primary-color;
		border-radius: 100px;

		img {
			width: 50%;
			height: 50%;
			object-fit: contain;
		}
	}

	&__list {
		p {
			flex: 1;
			font-size: 16px;
			font-weight: 500;
			font-family: a.$plus-jakarta-sans;
			color: a.$secondary-color;
		}
	}

	&__image {
		flex: 1;

		position: relative;
		padding: 32px 64px;

		background-color: a.$color-white;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		img {
			width: 254px;
			height: 260px;
			object-fit: contain;
		}
	}

	&__arrow {
		position: absolute;
		z-index: 1;

		img {
			object-fit: contain;
		}

		&-left {
			left: -2.5px;
			top: 12%;

			img {
				width: auto;
				height: 100%;
			}
		}

		&-top {
			top: -10.5px;
			left: 12%;

			img {
				width: auto;
				height: 100%;
			}
		}

		&-bottom {
			bottom: -6.5px;
			right: 12%;

			img {
				width: 100%;
				height: auto;
			}
		}

		&-right {
			right: -2.5px;
			bottom: 12%;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&__discover {
		position: absolute;
		top: 44%;
		left: 44%;
		z-index: 1;
		width: 160px;
		height: 160px;
		background-color: a.$secondary-color;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		p{
			color: #fff;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 500;
			font-family: a.$plus-jakarta-sans;
		}
	}
}

.trending-sushi .trending__image {
	background-image: url(../img/japanese_sushi.png);
}
.trending-drink .trending__image {
	background-image: url(../img/japanese_drinks.png);
}
